<nav class="navbar">
  <div class="navbar-content">
    <button class="btn btn-action" type="button">
      <FaIcon @icon="bars" aria-hidden="true" />
      <span class="sr-only">Toggle sidebar</span>
    </button>
  </div>

  <LinkTo @route="landing" class="navbar-brand">
    Yuu
  </LinkTo>
</nav>